// >>-- 117 Editor css start --<<
.trumbowyg-box {
  border: 2px dashed rgba(var(--dark), 0.4);
  border-radius: var(--app-border-radius);
  overflow: hidden;
  &.custom_editor {
    .ql-toolbar {
      border: none;
      background: rgba(var(--dark), 0.1);
    }
    .ql-container {
      border: none;
    }
  }
  .trumbowyg-button-pane {
    border-bottom: 0;
    background: rgba(var(--dark), 0.1);
    border-color: black;
    .trumbowyg-button-group {
      &:hover {
        button {
          background: rgba(var(--dark), 0.1);
        }
      }
    }
  }
}

// >>-- 117 Editor css end --<<
