@charset "UTF-8";

body {
  font-size: var(--font-size);
  font-family: "Montserrat", system-ui;
  color: var(--font-color);
  background-color: var(--bodybg-color);
}

p {
  font-size: var(--p-font-size);
  line-height: var(--p-line-height);
  margin-bottom: 5px;
  font-weight: 500;
}

a {
  color: rgba(var(--dark), 1);
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

ul {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
}

.list-disc {
  list-style-type: disc;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4;
  color: var(--font-color);
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: 800;
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: 700;
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: 600;
}

h4 {
  font-size: var(--h4-font-size);
  margin-bottom: 0;
  font-weight: 600;
}

h5 {
  font-size: var(--h5-font-size);
  margin-bottom: 0;
  font-weight: 600;
}

h6 {
  font-size: var(--h6-font-size);
  font-weight: 600;
}

code {
  color: rgba(var(--danger), 1);
  background-color: rgba(var(--danger), 0.1);
  padding: 0 3px;
  border-radius: 5px;
}

.btn {
  padding: 7px 25px;
  font-size: var(--btn-font-size);
  border-radius: 5px;
}

/*.dt-layout-row .dt-layout-start {*/
/*  margin: 1rem 0 !important;*/
/*}*/

.dt-layout-row {
  display: block !important;
}

.dt-layout-bottom .dt-layout-row {
  display: flex !important;
  margin: 0 2px;
}
.dt-layout-top .dt-layout-row {
  display: flex !important;
  margin: 0 2px;
}
